{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container my-5 d-flex justify-content-center">
    <div class="profile">
        <img src="{{ asset('pictures/' ~ user.image)}}" style="height:10rem;width:10rem;border-radius:50%;" class="my-2">
        <p>First name: {{user.name}}</p>
        <p>Last name: {{user.surname}}</p>
        <p>Email: {{user.email}}</p>
        <p>Address: {{address.address}}, {{address.zip}} {{address.city}}, {{address.country}}<p>
        <a href="{{ path('app_profile_edit', {'id': user.id}) }}" class="btn edit-btn">Edit</a>
        <a href="{{ path('app_profile_delete', {'id': user.id}) }}">Delete profile</a>
        {% if (user.datetime|date('U') > "now"|date('U')) %} 
            <p class="text-danger">Banned until: {{user.datetime|date('d-m-Y')}}</p>
        {% endif %}
    </div>
</div>
{% block edit %}


{% endblock %}


{% endblock %}
