{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<a href="/" class="btn btn-primary"> Home </a>
    <h3 class="text-center">Register</h3>
<div class="container w-50 my-2">
    {{ form_start(registrationForm) }}
        {# {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }} #}
        {{form_widget(registrationForm, {'attr': {'class': 'row g-3 mb-3'}})}}
        {{form_widget(addressForm, {'attr': {'class': 'row g-3'}})}}
        {# {{ form_row(registrationForm.agreeTerms) }} #}
<<<<<<< HEAD
<div class="col-12">
        <button type="submit" class="btn submit-btn">Register</button>
</div>
    {{ form_end(registrationForm) }}
</div>
=======
{% block edit %}
    <button type="submit" class="btn btn-success">Register</button>

    {% endblock %}
        
    {{ form_end(registrationForm) }}
    
>>>>>>> 7a623a94df626982da9f56bca0619d0bf4cd4670
{% endblock %}
