{% extends 'base.html.twig' %}
	

{% block title %}Catalog{% endblock %}
{% block navbar %}
			<nav class="navbar navbar-expand-lg bg-black navbar-dark h-30">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							{% if app.user %}
								<li class="nav-item dropdown">
									<a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ path('app_profile', {'id':app.user.id})}}">
										<img src="{{ asset('pictures/' ~ app.user.image)}}" alt="" width="40" height="40" style="border-radius:50%;">
									</a>
								{# <a class="nav-link dropdown-toggle" href="{{ path('app_profile', {'id':app.user.id})}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.name }}</a> #}
									<ul class="dropdown-menu">
										{% if is_granted('ROLE_ADMIN') %}
											<li><a class="dropdown-item" href="{{ path('app_admin_dashboard')}}">Dashboard</a></li>
										{% endif %}
										<li><a class="dropdown-item" href="{{ path('app_profile', {'id':app.user.id})}}">Profile</a></li>
										<li><a class="dropdown-item" href="{{ path('app_shopping_cart') }}">Cart</a></li>
										<li><a class="dropdown-item" href="/logout">Log Out</a></li>
									</ul>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link text-white" aria-current="page" href="/login">Sign in</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="{{ path('app_product_crud_index')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalog</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="{{ path('app_product_crud_index')}}">All</a>
									</li>
									<li>
										<a class="dropdown-item" href="/product/crud/category/1">Book</a>
									</li>
									<li>
										<a class="dropdown-item" href="/product/crud/category/2">Film</a>
									</li>
									<li>
										<a class="dropdown-item" href="/product/crud/category/3">Games</a>
									</li>
									<li>
										<a class="dropdown-item" href="/product/crud/category/4">Music</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_test_contact')}}">Contact Us</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{ path('app_category_index')}}">Categories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{ path('app_discount_index')}}">Discount</a>
								</li>
							{% endif %}
						</ul>
						 <form class="d-flex" action="{{ path('app_search') }}">
                    <input class="form-control me-2 bg-light" type="search" placeholder="Search Product" aria-label="Search" name="search">
                </form>
							<a class=" ms-3" type="submit" href="{{ path('app_shopping_cart') }}"><i class="bi bi-cart3 text-white btn btn-outline-light"></i></a>
						</div>
					</div>
				</div>
			</nav>
		{% endblock %}

{% block body %}
     <div class="container my-5">
    <h1 class="text-center my-3">Catalog</h1>
	<div id="result"></div>
    {% if is_granted('ROLE_ADMIN') %}
       <a href="{{ path('app_product_crud_new') }}" class="btn create-btn my-5">Create new</a>
    {% endif %}
    
  
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 text-center animate__animated animate__fadeInLeft">
{% for product in products %}
<div class="col">
   <div class="" style="width: 18rem;">
   <a href="{{ path('app_product_crud_show', {'id': product.id}) }}"><img src="{{ asset('pictures/' ~ product.image)}}" style="border-radius:3%; height:10rem; width:15rem;"></a>
  <div class="card-body mt-3">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.price }} €</p>
    <a href="{{ path('app_product_crud_show', {'id': product.id}) }}" class="btn details-btn">Details</a>
        {% if is_granted('ROLE_USER') %} 
    <a href="{{ path('app_product_add_cart', {'id': product.id}) }}" class="btn submit-btn">Buy</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_product_crud_edit', {'id': product.id}) }}"  class="btn edit-btn">Edit</a>
    {{ include('product_crud/_delete_form.html.twig') }}
    {% endif %}

  </div>
</div>
  </div>
        {% else %}
            <p colspan="7">no records found</p>
        {% endfor %}
        </div>
        </div>
{% endblock %}