{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block body %}
     <div class="container my-5">
    <h1 class="text-center">Catalog</h1>
     <a href="{{ path('app_product_crud_new') }}">Create new</a>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 text-center">
{% for product in products %}
<div class="col">
   <div class="card" style="width: 18rem;">
  <img src="{{ product.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.price }}</p>
    <a href="{{ path('app_product_crud_show', {'id': product.id}) }}" class="btn btn-secondary">Details</a>
  </div>
</div>
  </div>
        {% else %}
            <p colspan="7">no records found</p>
        {% endfor %}
        </div>
        </div>
{% endblock %}