{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="container my-5">
    <h1 class="text-center">Details</h1>
<div class="text-center d-flex justify-content-around align-items-center">
            <div class="image w-50">
                <img src="{{ asset('pictures/' ~ product.image)}}" style="height:20rem; width:35rem">
            </div>
            <div class="my-5" style="width:40%;">
                <h5 class="card-title m-0">{{ product.name }}</h5>
                <p class="card-text">Price: {{ product.price }} €</p>
                <p class="card-text">{{ product.description }}</p>
                 {% if discount.discountType == "zero" %}
                <p></p>
                {% else %}
                    <p class="card-text">{{ discount.name }} save {{ discount.amount }}% </p>
                        {% endif %}
                {% if product.availability == 1 %}
                    <p class="card-text">Availability: available </p>
                {% else %}
                    <p class="card-text">Availability: not available </p>
                {% endif %}
                {% if is_granted('ROLE_USER') %} 
                    <a href="{{ path('app_product_add_cart', {'id': product.id}) }}" class="btn btn-primary">Add to cart</a>
                {% endif %}
            </div>
        </div>
    <div>
        <h6>Reviews</h6>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 text-center">
            {% for review in reviews %}
            <div class="col">
                <div class="" style="width: 18rem;">
                    <div class="card-body mt-3">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">{{ review.rating }}</p>
                        <p class="card-text">{{ review.message }}</p>
                        <p class="card-text">{{ review.fkUser.name }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_product_delete_review', {'id': review.id}) }}"  class="btn edit-btn">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p colspan="7">no records found</p>
            {% endfor %}
        </div>
    </div>
        {{ form_start(reviewform) }}
            {{ form_widget(reviewform,{'attr': {'class': 'row g-3 mb-3'}}) }}
        {{ form_end(reviewform) }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_product_crud_index') }}">back to list</a>

    <a href="{{ path('app_product_crud_edit', {'id': product.id}) }}">edit</a>

    {{ include('product_crud/_delete_form.html.twig') }}
        {% endif %}
        </div>
{% endblock %}
