{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="container my-5" style="height:65vh;">
    <h1 class="text-center">Details</h1>
<div class="text-center d-flex justify-content-around align-items-center">
<div class="image w-50">
   <img src="{{ asset('pictures/' ~ product.image)}}">
   </div>
  <div class="card-body my-5 w-50">
    <h5 class="card-title my-5">{{ product.name }}</h5>
    <p class="card-text">Price: {{ product.price }} €</p>
    <p class="card-text">Description: {{ product.description }}</p>
    <p class="card-text">{{ discount.name }} save {{ discount.amount }}% </p>
    {% if product.availability == 1 %}
    <p class="card-text">Availability: available </p>
     {% if is_granted('ROLE_USER') %} 
    <a href="{{ path('app_product_add_cart', {'id': product.id}) }}" class="btn btn-primary">Add to cart</a>
    {% endif %}
    {% else %}
         <p class="card-text">Availability: not available </p>
          {% if is_granted('ROLE_USER') %} 
    <p  class="text-danger">This product is currently unavailable</p>
    {% endif %}
    {% endif %}
   
</div>
</div>
Reviews
</div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_product_crud_index') }}">back to list</a>

    <a href="{{ path('app_product_crud_edit', {'id': product.id}) }}">edit</a>

    {{ include('product_crud/_delete_form.html.twig') }}
        {% endif %}
{% endblock %}
