{% extends 'base.html.twig' %}

{% block title %}Discount{% endblock %}

{% block body %}
<div class="container my-5" style="min-height:68vh">
    <h1 class="my-5">Discount</h1>

    <table class="table w-50">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ discount.name }}</td>
            </tr>
            <tr>
                <th>DiscountType</th>
                <td>{{ discount.discountType }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ discount.amount }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_discount_edit', {'id': discount.id}) }}" class="btn edit-btn">Edit</a>

    {{ include('discount/_delete_form.html.twig') }}
    <a href="{{ path('app_discount_index') }}" class="fs-4">back to list</a>
    </div>
{% endblock %}
