{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="container my-4 ">
      <div class="content1 text-center row justify-content-between">
        <h1>Your Cart</h1>
        <div class="col-md-8">
          {% for product in products %}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                  <div class="col-2"><img id="cartimage" class="img-fluid" src="{{asset('pictures/'~ product.fkProduct.image)}}"></div>
                  <div class="col">
                      <div class="row text-muted">{{product.fkProduct.name}}</div>
                      <div class="row">{{product.fkProduct.availability}}</div>
                      <a class="btn btn-danger" href="{{ path('app_product_delete_cart', {'id': product.id}) }}">delete<span class="close">&#10005;</span></a>
                  </div>
                  <div class="col">&euro;{{ product.fkProduct.price}}</div>
                </div>
              </div>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="card mt-4 mt-md-0">
            <h5 class="card-header bg-dark text-white text-center">Summary</h5>
            {% for product in products %}
              <div class="row"></div>
              <div><span>{{ product.fkProduct.name}}<span></div>
              <div class="col text-end"><span>&euro;{{ product.fkProduct.price}}<span><a class="btn" href="{{ path('app_product_delete_cart', {'id': product.id}) }}">x</a></div>
              {% if (product.fkProduct.fkDiscount.amount > 0) %}
                <div class="col text-end"><span>Discount: {{ product.fkProduct.fkDiscount.amount }}% ({{(product.fkProduct.price / 100) * product.fkProduct.fkDiscount.amount }}&euro;)<span></div>
              {% endif %}
            {% endfor %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                <div><b>Total</b></div>
                <span><b>{{ total }} €</b></span>
                </li>
            </ul>
            <div id="paypal-button-container">
              <a href="{{ path('app_payment_success') }}"><button hidden id="btn-success"></button></a>
              <a href="{{ path('app_payment_error') }}"><button  hidden id="btn-error"></button></a>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AaKebjdILb39f90hSBn2CFIn9tXzp9REEnw3vnn97S2x9_SL_qEODBb-YlErh9OcnXS9Ug15p3B58ItM"></script>
    <!-- Set up a container element for the button -->
    

    <script>
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{ total }}' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
             document.getElementById('btn-success').click();
          });
        }
      }).render('#paypal-button-container');
    </script>
{% endblock %}