{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="content1 text-center"></div>
        <h1>Your Cart</h1>
        {% for product in products %}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img id="cartimage" class="img-fluid" src="{{asset('pictures/'~ product.fkProduct.image)}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{product.fkProduct.name}}</div>
                        <div class="row">{{product.fkProduct.availability}}</div>
                    </div>
                    {# <a class="btn" href="{{ path('app_cart_delete', {'id': product.id}) }}">delete</a> #}
                    <div class="col">&euro;{{ product.fkProduct.price}}  <span class="close">&#10005;</span></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="card mt-4 mt-md-0">
            <h5 class="card-header bg-dark text-white">Summary</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <div><b>Total</b></div>
                {# <span><b>{{ total }} €</b></span> #}
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-warning w-100">Checkout</a>
            </div>
        </div>
    </div> 
    <script>
        function joke(){
            const xml = new XMLHttpRequest();
            xml.open("GET","joke.php" );
            xml.onload = function(){
                console.log(xml.responseText)
                const jokeArray = JSON.parse(xml.responseText);
                console.log(jokeArray);
                let content = document.getElementsByClassName('content1')[0];
                content.innerHTML = `<h1>${jokeArray.joke}</h1>`;

            };
            xml.send();
        }
        joke()
    </script>
{% endblock %}