{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-3 mb-4">Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ asset('pictures/' ~ product.image)}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        {# <p class="card-text">{{ product.quantity }}</p> #}
                        {# <p class="card-text">{{ product.discount }}</p> #}
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="#" class="btn btn-dark">View details</a>
                            <span class="h5 mt-auto">{{ product.price }} €</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}