{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{# Read me: Styles for google map, if we use it here, it will overwrite the base! #}
{# {% block stylesheets %}
<style type= "text/css">
    
    #map {
        margin: auto;
        height: 80%;
        width: 60%;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
{% endblock %} #}

{% block body %}
<style type= "text/css">
    {# TODO: Styles for google map, it has to be placed at the write place!!!  #}
    #map {
        margin: auto;
        height: 50%;
        width: 50%;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<h3 class="text-center mt-5"> Contact us</h3>
<div class="container" style="width:30%">
{{ form_start(contactform) }}
    {{ form_widget(contactform,{'attr': {'class': 'row g-3 mb-3'}}) }}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(contactform) }}
</div>
{% if data.sent %}
    <div class="container" >
        <hr><p>Thank you {{ data.name }} for contacting us, Your message has been sent successfully!</p><br>
        <hr>
        <p>Message details:</p><br>
        <p>From: {{data.email }}</p>
        <p>To: {{data.mail_to }}</p>
        <p>Content: {{data.message }}</p>
    </div>
{% endif %}
    <h2 class="text-center">How to find us:</h2>
    <div id="map" class="my-5"></div>
    <div class="text-center d-flex align-items-center justify-content-center hours">
    <ul class="px-5 list-style2" style="font-size: 25px">
      <li style="text-decoration: underline">Location:</li>
      <li>Kettenbrückengasse 23, 1040 Wien</li>
      <li class="mt-2" style="text-decoration: underline">Office hours:</li>
      <li>Monday 08:00 - 18:00</li>   
      <li>Wednesday 08:00 - 18:00</li>
      <li>Thursday 08:00 - 18:00</li>
    </ul>
  </div>
        <script>
            var map;
            function initMap() {
                var codefactory = { 
                    lat: 48.19648548241829, 
                    lng: 16.35948713595641
                };
                map = new google.maps.Map(document.getElementById('map'), {
                    center: codefactory,
                    zoom: 14
                })
                pinpoint = new google.maps.Marker({
                    position: codefactory,
                    map: map
                })
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtjaD-saUZQ47PbxigOg25cvuO6_SuX3M&callback=initMap" async defer></script>
{% endblock %}