<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
    {% block navbar %}
	    <nav class="navbar navbar-expand-lg bg-black navbar-dark h-30">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if app.user %}
            <li class="nav-item dropdown">
                        <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ path('app_profile', {'id':app.user.id})}}">
                        <img src="{{ asset('pictures/' ~ app.user.image)}}" alt="" width="40" height="40" style="border-radius:50%;">
                        </a>
                        {# <a class="nav-link dropdown-toggle" href="{{ path('app_profile', {'id':app.user.id})}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.name }}</a> #}
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_profile', {'id':app.user.id})}}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_shopping_cart') }}">Cart</a></li>
                            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                        </ul>
            </li>
            {% else %}
                     <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/login">Sign in</a>
                    </li>
						{% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{{ path('app_product_crud_index')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catalog</a>
						<ul class="dropdown-menu">
                            <li>
						        <a class="dropdown-item" href="{{ path('app_product_crud_index')}}">All</a>
							</li>
							<li>
                            	<a class="dropdown-item" href="#">Book</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Film</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Games</a>
							</li>
                            <li>
								<a class="dropdown-item" href="#">Music</a>
							</li>
						</ul>
					</li>
		</ul>
					<div class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
                        <a class="btn btn-success ms-3" type="submit" href="{{ path('app_shopping_cart') }}">Cart</a>
					</div>
				</div>
			</div>
</nav>
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="p-3 d-flex justify-content-center align-items-center social">
        <i class='fa fa-instagram' role="button"></i>
        <i class="fa fa-pinterest" role="button"></i>
        <i class='fa fa-facebook' role="button"></i>
        <i class='fa fa-twitter' role="button"></i>
        <i class='fa fa-google' role="button"></i>
        <i class='fa fa-linkedin' role="button"></i>
        <i class='fa fa-github' role="button"></i>
    </div>
    <p class="copyright text-center"> © 2022 Copyright: We-Han C., Stefan K., Majid K., Maria Z.</p>
</footer>
{% endblock %}
<!-- JavaScript Bundle with Popper --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body></html>
